build --copt=-Wall --copt=-Werror --copt=-std=c++20
build --cxxopt=-Wall --cxxopt=-Werror --cxxopt=-std=c++20 --host_cxxopt=-std=c++20
build --action_env=CC=clang
build --action_env=CXX=clang++
build --host_action_env=CC=clang
build --host_action_env=CXX=clang++
